<app-toolbar></app-toolbar>

<app-sidebar></app-sidebar>

<app-page-wrapper>
    <h2 class="h2-principal">Joaquín Morán Semes</h2>
    <p class="p-principal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quibusdam enim, ab officia cupiditate ea odit
        rerum hic excepturi, quaerat aliquam consectetur distinctio repudiandae tempore dignissimos facere pariatur
        autem omnis!</p>
        <ul class="ul-principal">
            <h3>Redes Sociales</h3>
            <li><a href="https://www.instagram.com/moranjoaco/">INSTAGRAM</a></li>
            <li><a href="https://www.facebook.com/joaco.moran.7/">FACEBOOK</a></li>
        </ul>
</app-page-wrapper>

<app-footer></app-footer>